title: {{ dashboard_title }}
theme: dark
color: slate
headerStyle: clean
hideVersion: true

background:
  image: {{ homepage_background }}
  blur: {{ homepage_background_blur }}
  opacity: {{ homepage_background_opacity }}

layout:
  Media:
    style: row
    columns: 3
  Downloads:
    style: row
    columns: 3
  Infrastructure:
    style: row
    columns: 3
  Access:
    style: row
    columns: 3
  Tools:
    style: row
    columns: 3
