- openmeteo:
    label: {{ weather_label }}
    latitude: {{ weather_latitude }}
    longitude: {{ weather_longitude }}
    timezone: {{ timezone }}
    units: {{ weather_units }}
    cache: 5

- search:
    provider: duckduckgo
    target: _blank
